#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [145]:
import pandas as pd

import urllib.request
from PIL import Image

## Data

In [146]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("data/train.csv")

## Data exploration

In [147]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         912 non-null    int64
 1   Company           912 non-null    object
 2   Product           912 non-null    object
 3   TypeName          912 non-null    object
 4   Inches            912 non-null    float64
 5   ScreenResolution  912 non-null    object
 6   Cpu               912 non-null    object
 7   Ram               912 non-null    object
 8   Memory            912 non-null    object
 9   Gpu               912 non-null    object
 10  OpSys             912 non-null    object
 11  Weight            912 non-null    object
 12  Price_euros       912 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 92.8+ KB

In [148]:
train.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1104,Acer,Aspire ES1-523,Notebook,15.6,1366x768,AMD A8-Series 7410 2.2GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.4kg,387.0
1,114,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7560U 2.4GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,Windows 10,1.23kg,1379.0
2,172,Acer,Aspire A517-51G,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,Windows 10,3kg,854.0
3,918,HP,Elitebook 820,Netbook,12.5,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.26kg,1483.0
4,447,Lenovo,IdeaPad 320-15AST,Notebook,17.3,1600x900,AMD A6-Series 9220 2.5GHz,8GB,1TB HDD,AMD Radeon R4,Windows 10,2.8kg,519.0

## Data processing

In [149]:
#En la columna "OpSys", convertimos los sistemas en números. Creamos diccionario
sistema = {'No OS': 0, 'Windows 10': 1, 'Linux': 2, 'Mac OS X': 3, 'Android': 4, 'Chrome OS': 5, 'macOS': 6, 'Windows 7': 7, 'Windows 10 S':8}
train["OpSys"] = train["OpSys"].replace(sistema)

In [150]:
#En la columna "Weight", eliminar kg y convertirlo a float.
train["Weight"] = train["Weight"].str.replace("kg", "")
train["Weight"] = train["Weight"].astype(float)

In [151]:
train_1st = train[["laptop_ID", "Inches", "OpSys", "Weight", "Price_euros"]]
train_1st.head()

   laptop_ID  Inches  OpSys  Weight  Price_euros
0       1104    15.6      1    2.40        387.0
1        114    13.3      1    1.23       1379.0
2        172    17.3      1    3.00        854.0
3        918    12.5      1    1.26       1483.0
4        447    17.3      1    2.80        519.0

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [152]:
X = train_1st.drop(['Price_euros'], axis=1)
y = train_1st['Price_euros'].copy()
X.shape

(912, 4)

In [153]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [154]:
from sklearn.model_selection import train_test_split

In [155]:
X_train, X_validation, y_train, y_validation= train_test_split(X, y, test_size = 0.20, random_state = 42)

In [156]:
X_train

     laptop_ID  Inches  OpSys  Weight
25          26    15.6      1    2.30
84         776    15.6      1    2.72
10        1263    15.6      1    2.50
342        182    15.6      1    1.90
890        321    13.3      1    1.29
..         ...     ...    ...     ...
106        394    15.6      1    2.00
270        441    15.6      1    2.50
860        955    17.3      1    2.80
435        210    15.6      1    2.30
102        673    15.6      1    2.10

[729 rows x 4 columns]

### 3. Asignar el modelo (vacío) a una variable

In [157]:
from sklearn.linear_model import LinearRegression

laptop_model = LinearRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [158]:
laptop_model.fit(X_train, y_train)
#OJO!! si ejecutamos esta celda más de una vez, hacemos overfitting

LinearRegression()

In [159]:
laptop_model.coef_

array([ 3.00893906e-02, -1.37587165e+02,  5.68403600e+01,  4.51417958e+02])

In [160]:
laptop_model.intercept_

2157.8911837690403

In [161]:
predictions = laptop_model.predict(X_validation)
predictions

array([ 990.34453872,  851.8608682 , 1062.33378088, 1073.522147  ,
       1090.94390414, 1425.72999607,  912.63831235, 1340.76322665,
       1063.71789284,  991.55391125,  867.43335991, 1106.95916988,
       1218.48532489, 1128.58913415,  938.48674698, 1200.67295203,
        804.23792976, 1116.83258602, 1189.98839558, 1193.03024682,
       1091.46031094, 1050.13986773,  976.83440235, 1115.05810311,
       1055.79872496, 1059.68723612,  957.15479887, 1783.27369351,
       1063.05592625, 1063.08189947, 1005.21834955,  886.19630595,
       1202.98080353, 1555.12593183, 1059.58804252, 1021.46467852,
       1041.32988508, 1227.70145315,  911.58374783, 1495.09765506,
       1094.4685561 , 1287.82982121,  925.21876159, 1842.70949184,
       1280.66314928,  948.51268201, 1042.61285331, 1041.29358691,
       1205.55232047, 1000.42756854, 1119.28688649,  922.93982482,
        834.48691309, 1387.41000233, 1362.70986022, 1350.43338887,
       1054.62975483,  777.42817662,  810.82981929, 1096.57293316,
       1004.87473652, 1124.05560189, 1260.4545339 , 1029.68333707,
       1080.44138522, 1285.16799146,  930.72974604, 1036.65982076,
        979.15128543, 1222.24572345, 1129.10905737,  990.85308052,
       1564.4025123 , 1022.70259846, 1103.58941933, 1008.37270964,
       1552.57738181, 1029.28171129, 1077.52892311, 1426.75241929,
       1069.88621791, 1139.5177998 , 1558.67647991,  943.75845216,
       1109.63712564, 1541.32200408, 1176.80924252, 1083.03373959,
       1573.69108581, 1109.60652644, 1557.42522501,  966.38886399,
        906.67683158,  942.77207017,  909.99507196, 1200.64286264,
       1130.6731833 , 1101.99247478, 1020.05047717, 1073.97837502,
       1038.55247453, 1087.8245206 , 1089.56467934, 1107.01934866,
        917.91012367,  946.19260881, 1132.84093294, 1088.39119311,
       1005.47950217, 1087.23860155,  997.77661819, 1090.58822842,
       1116.051053  , 1275.66985244,  996.58115246,  748.89880839,
       1029.31503162, 1023.7275916 , 1079.45464411,  917.24507309,
       1081.62108023, 1150.3682683 ,  955.83086568, 1047.58123735,
       1147.58936029, 1018.69182861,  946.4965867 , 1269.52952842,
       1040.45688088, 1092.9111696 , 1038.52536298, 1080.80712469,
       1195.88679327, 1124.9582836 , 1859.28874604,  936.15394624,
       1092.39050787, 1323.58218463, 1079.78264956,  988.45393302,
        977.04014092, 1080.77868344,  956.84965004, 1076.08463236,
       1099.01274798, 1435.14500546, 1188.12285337,  940.44861919,
       1028.47484167,  877.75787586,  922.48448203, 1228.60541962,
       1078.51889516,  971.99503638, 1042.43708989, 1151.46908849,
       1072.14871911, 1082.19277865, 1215.48181936, 1678.47930568,
        937.38684026, 1186.58829445, 1010.87207099, 1305.8023417 ,
        732.7972682 , 1191.43110778, 1015.78399249, 1047.33898023,
       1022.51780719, 1015.52946476, 1231.51946453,  942.64862863,
       1099.76498274, 1065.16489651,  839.45320453, 1197.63392358,
        957.39280106, 1080.56640957,  970.79068977, 1069.97648608,
       1075.15765817, 1098.49501956, 1178.49512553])

In [162]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error ,mean_squared_error
import numpy as np

print("MAE: ", mean_absolute_error(y_validation, predictions))
print("MAPE: ", mean_absolute_percentage_error(y_validation, predictions))
print("MSE: ", mean_squared_error(y_validation, predictions))
print("RMSE: ", np.sqrt(mean_squared_error(y_validation, predictions)))#en cuanto me equivoco

MAE:  484.62807694528806
MAPE:  0.5992856484597536
MSE:  452019.57350678666
RMSE:  672.3240093190088

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [163]:
X_pred = pd.read_csv("data/test.csv")
X_pred.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
0,750,Toshiba,Tecra X40-D-10G,Notebook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.25kg
1,726,Mediacom,Smartbook 142,Notebook,14.0,IPS Panel Full HD 1920x1200,Intel Atom Z8350 1.92GHz,4GB,32GB HDD,Intel HD Graphics 400,Windows 10,1.4kg
2,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg
3,363,Dell,Inspiron 7577,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.65kg
4,319,Asus,VivoBook Flip,2 in 1 Convertible,11.6,Touchscreen 1366x768,Intel Celeron Dual Core N3350 1.1GHz,2GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.1kg

In [164]:
test_1st = X_pred[["laptop_ID", "Inches", "OpSys", "Weight"]]
test_1st.head()

   laptop_ID  Inches       OpSys  Weight
0        750    14.0  Windows 10  1.25kg
1        726    14.0  Windows 10   1.4kg
2        633    14.0  Windows 10   1.4kg
3        363    15.6  Windows 10  2.65kg
4        319    11.6  Windows 10   1.1kg

In [165]:
#En la columna "OpSys", convertimos los sistemas en números. Creamos diccionario
sistema = {'No OS': 0, 'Windows 10': 1, 'Linux': 2, 'Mac OS X': 3, 'Android': 4, 'Chrome OS': 5, 'macOS': 6, 'Windows 7': 7, 'Windows 10 S':8}
test_1st["OpSys"] = test_1st["OpSys"].replace(sistema)
#En la columna "Weight", eliminar kg y convertirlo a float.
test_1st["Weight"] = test_1st["Weight"].str.replace("kg", "")
test_1st["Weight"] = test_1st["Weight"].astype(float)

C:\Users\lydia\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lydia\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\lydia\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [166]:
test_1st.head()

   laptop_ID  Inches  OpSys  Weight
0        750    14.0      1    1.25
1        726    14.0      1    1.40
2        633    14.0      1    1.40
3        363    15.6      1    2.65
4        319    11.6      1    1.10

**¿Por qué da error?**

In [167]:
predictions_submit = laptop_model.predict(test_1st)
predictions_submit

array([ 875.35072462,  942.34127296,  939.54295964, 1275.55180787,
       1124.87869951, 1061.91252941,  740.95032211, 1538.18509513,
       1162.60705017, 1227.03614533,  851.25908039, 1031.00235048,
       1122.91143405, 1067.90031813,  932.29516535,  921.84874985,
        934.55843755, 1188.4848032 , 1076.95722469, 1033.56682231,
       1430.12243103,  999.37961646, 1140.48286714,  967.40948414,
        877.0456881 ,  838.57532137, 1096.66500452, 1050.14889931,
       1068.77291046, 1220.05540672,  982.61310733,  986.64354368,
       1181.35274049, 1185.17409309, 1000.21385882,  873.43454937,
        993.71455046, 1243.81991454, 1181.65374054, 1019.99378231,
       1799.34142808, 1197.57863197, 1276.42851242, 1287.61709892,
       1017.55305775, 1414.34643605, 1177.1139914 , 1204.55448341,
       1053.08605383, 1122.84405511, 1485.10720639, 1149.50810151,
       1087.64204233, 1293.16392052, 1006.06511933, 1016.04396224,
       1106.15785228, 1439.63129451, 1020.26304483, 1083.07193888,
       1062.81521112, 1252.8605524 , 1132.14887695, 1171.39315221,
       1099.5813216 , 1280.45534634, 1113.58372297, 1352.80180621,
       1068.07931248, 1018.78209679,  899.49545745, 1288.85076393,
       1853.48149366, 1060.26340984, 1144.24481196, 1028.65604287,
       1012.65469587, 1206.72747528, 1013.81734734, 1190.19902132,
       1458.35234121, 1071.93229647,  966.87029424, 1754.410258  ,
       1084.77789206, 1152.344255  ,  965.42938127, 1128.57480738,
       1020.74253315, 1106.41756085, 1006.24138883, 1078.76258812,
       1044.95828378,  965.16011875, 1300.2364693 , 1476.58816003,
       1017.1271803 ,  919.02188913,  905.75405069, 1018.93716972,
        981.70811263,  936.74762415, 1002.775312  ,  928.17214784,
       1312.95574314, 1067.14654137, 1119.8724056 ,  953.47732531,
       1561.57899675, 1292.83293723,  931.47591898, 1169.58763001,
       1122.33054092, 1150.08497652, 1090.17226406, 1295.74123437,
        928.47561593, 1804.18813295, 1149.30224871, 1021.40875466,
       1088.63036624, 1085.04829291, 1809.09039062,  906.50664458,
       1079.21238699, 1021.58041011,  975.7210949 , 1305.27957939,
       1094.94148554,  878.66441256, 1109.77854102, 1013.4971988 ,
       1220.1996449 , 1058.80920601, 1341.0715704 ,  938.95071757,
        875.62538411,  968.42917824,  946.31850209, 1093.29664091,
       1017.48990113, 1144.4253483 , 1010.86935806, 1542.81886128,
       1062.78280875, 1101.20927349, 1836.63143494, 1215.0844485 ,
       1176.41187166,  917.75659273, 1197.77996494, 1274.19323642,
        948.24911025, 1034.31372544,  813.33021654, 1011.21040512,
        932.71899099, 1175.72602445, 1185.38196958, 1047.6463033 ,
       1415.94014157, 1097.20738454, 1163.86772059, 1146.76457   ,
        930.72666206, 1943.97416903,  890.86016149, 1100.6815832 ,
       1200.05356209,  978.18842493,  890.64917662, 1145.14749368,
       1170.24975537,  925.85140979, 1519.13773991,  976.53350845,
       1055.55878083, 1047.16758597, 1117.99612668, 1573.55982049,
       1144.67068941, 1205.73285681, 1136.93309005, 1081.47063328,
       1563.40956241, 1121.58750086, 1297.50490266, 1019.56415975,
       1306.49901143,  991.15695226,  845.80206594, 1139.46059886,
       1028.38795128,  986.64045969, 1139.46136986, 1088.62702106,
       1287.94808222, 1080.77857729,  971.23288854, 1095.31483692,
       1952.70637492,  909.30147398,  933.77611339, 1270.76759477,
        963.92116663, 1114.28234686, 1139.3468092 ,  945.63287527,
       1225.16439434,  949.14455921, 1064.86785759, 1082.40340438,
        987.39577844,  909.17659659, 1081.3803651 , 1027.69318237,
       1269.74070051, 1086.61103189, 1029.85340971, 1231.46391172,
       1021.40449974, 1053.66032643,  974.81158036, 1017.7605995 ,
       1196.52061613,  865.81161681, 1114.50267339,  957.36116968,
        957.15942484,  973.76722644, 1107.68131525, 1079.84426419,
        884.08193871, 1247.70417067, 1073.91665425, 1073.74422781,
        962.62527104, 1121.28039818, 1032.95882572, 1128.04896906,
       1432.40922471, 1378.36158536,  905.322809  , 1084.77557907,
       1083.57689062, 1217.70699841, 1167.27281503, 1158.12825932,
       1060.52081362,  983.71958196, 1073.49694478,  899.33880172,
       1202.38995662,  931.33230485, 1426.17979494, 1232.30178868,
        942.4079135 ,  957.66631851, 1096.84020113, 1085.41234344,
        961.33384638,  910.80450766,  863.3126554 , 1007.91674281,
       1073.7376599 , 1088.36690063,  928.89120923, 1248.00224178,
       1122.07704101, 1064.28959126, 1138.43755958, 1089.32396421,
       1023.4505783 , 1170.36004917, 1752.63498396, 1598.52203318,
       1214.09204922, 1077.07758225, 1054.05148851, 1766.74690813,
       1085.41814035,  942.31764533, 1483.07651089, 1115.41428863,
       1019.02281191,  871.08798877,  897.11449981, 1063.41211177,
       1125.52432386, 1087.88469938, 1156.85997657, 1086.88595258,
       1281.08440075, 1125.10175078, 1060.52687545, 1194.79391512,
       1470.02543397, 1104.25112473,  958.65926839, 1078.84987846,
        987.78694052,  912.43231259, 1140.40343373, 1177.31587499,
        971.7748649 , 1172.32592332,  822.68581017, 1071.42077683,
       1051.67339447,  873.79562205, 1137.70621949,  955.55349326,
        882.94008386,  963.05386141, 1181.14211476,  946.38279704,
       1711.25744595, 1206.35790119, 1011.29332246, 1075.18195065,
        948.93239149, 1024.38334941, 1102.38558251, 1269.28755647,
        955.91687893, 1047.53112233, 1009.54167604,  851.49979551,
       1271.3647566 , 1121.85830538,  994.65388947,  966.05854555,
       1945.0272977 , 1228.44413791,  892.44833128, 1040.87233544,
        961.33296924, 1014.99391756, 1011.08086094,  928.50625593,
        857.23691149,  993.26475159, 1100.90837958, 1207.14705817,
       1145.56874514, 1121.49102391,  936.2955123 , 1843.67235234,
        955.82892375,  706.25379974, 1124.08492028, 1091.39715432,
        820.13041881, 1275.09815402, 1064.83120029,  797.46781689,
       1048.54446518, 1963.44971469, 1221.52489969, 1079.39446533,
       1077.26083152, 1050.10977834, 1267.4878512 , 1155.86213951,
       1019.17182302, 1019.47877875, 1136.29346208, 1030.93975257,
        896.92635964,  947.58057575, 1437.40467961, 1074.30314954,
       1831.33107623, 1023.71675684, 1097.29765271, 1154.4174451 ,
        581.05866635, 1048.81295671,  942.19380385, 1031.4887005 ,
       1498.67824375, 1119.72852656, 1264.21493672, 1026.24889162,
       1613.52022384, 1009.00458684, 1664.67239158, 1093.22561928,
       1108.10745389, 1302.03047157, 1014.74015274])

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [168]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [170]:
predictions_submit = laptop_model.predict(test_1st)
predictions_submit

array([ 875.35072462,  942.34127296,  939.54295964, 1275.55180787,
       1124.87869951, 1061.91252941,  740.95032211, 1538.18509513,
       1162.60705017, 1227.03614533,  851.25908039, 1031.00235048,
       1122.91143405, 1067.90031813,  932.29516535,  921.84874985,
        934.55843755, 1188.4848032 , 1076.95722469, 1033.56682231,
       1430.12243103,  999.37961646, 1140.48286714,  967.40948414,
        877.0456881 ,  838.57532137, 1096.66500452, 1050.14889931,
       1068.77291046, 1220.05540672,  982.61310733,  986.64354368,
       1181.35274049, 1185.17409309, 1000.21385882,  873.43454937,
        993.71455046, 1243.81991454, 1181.65374054, 1019.99378231,
       1799.34142808, 1197.57863197, 1276.42851242, 1287.61709892,
       1017.55305775, 1414.34643605, 1177.1139914 , 1204.55448341,
       1053.08605383, 1122.84405511, 1485.10720639, 1149.50810151,
       1087.64204233, 1293.16392052, 1006.06511933, 1016.04396224,
       1106.15785228, 1439.63129451, 1020.26304483, 1083.07193888,
       1062.81521112, 1252.8605524 , 1132.14887695, 1171.39315221,
       1099.5813216 , 1280.45534634, 1113.58372297, 1352.80180621,
       1068.07931248, 1018.78209679,  899.49545745, 1288.85076393,
       1853.48149366, 1060.26340984, 1144.24481196, 1028.65604287,
       1012.65469587, 1206.72747528, 1013.81734734, 1190.19902132,
       1458.35234121, 1071.93229647,  966.87029424, 1754.410258  ,
       1084.77789206, 1152.344255  ,  965.42938127, 1128.57480738,
       1020.74253315, 1106.41756085, 1006.24138883, 1078.76258812,
       1044.95828378,  965.16011875, 1300.2364693 , 1476.58816003,
       1017.1271803 ,  919.02188913,  905.75405069, 1018.93716972,
        981.70811263,  936.74762415, 1002.775312  ,  928.17214784,
       1312.95574314, 1067.14654137, 1119.8724056 ,  953.47732531,
       1561.57899675, 1292.83293723,  931.47591898, 1169.58763001,
       1122.33054092, 1150.08497652, 1090.17226406, 1295.74123437,
        928.47561593, 1804.18813295, 1149.30224871, 1021.40875466,
       1088.63036624, 1085.04829291, 1809.09039062,  906.50664458,
       1079.21238699, 1021.58041011,  975.7210949 , 1305.27957939,
       1094.94148554,  878.66441256, 1109.77854102, 1013.4971988 ,
       1220.1996449 , 1058.80920601, 1341.0715704 ,  938.95071757,
        875.62538411,  968.42917824,  946.31850209, 1093.29664091,
       1017.48990113, 1144.4253483 , 1010.86935806, 1542.81886128,
       1062.78280875, 1101.20927349, 1836.63143494, 1215.0844485 ,
       1176.41187166,  917.75659273, 1197.77996494, 1274.19323642,
        948.24911025, 1034.31372544,  813.33021654, 1011.21040512,
        932.71899099, 1175.72602445, 1185.38196958, 1047.6463033 ,
       1415.94014157, 1097.20738454, 1163.86772059, 1146.76457   ,
        930.72666206, 1943.97416903,  890.86016149, 1100.6815832 ,
       1200.05356209,  978.18842493,  890.64917662, 1145.14749368,
       1170.24975537,  925.85140979, 1519.13773991,  976.53350845,
       1055.55878083, 1047.16758597, 1117.99612668, 1573.55982049,
       1144.67068941, 1205.73285681, 1136.93309005, 1081.47063328,
       1563.40956241, 1121.58750086, 1297.50490266, 1019.56415975,
       1306.49901143,  991.15695226,  845.80206594, 1139.46059886,
       1028.38795128,  986.64045969, 1139.46136986, 1088.62702106,
       1287.94808222, 1080.77857729,  971.23288854, 1095.31483692,
       1952.70637492,  909.30147398,  933.77611339, 1270.76759477,
        963.92116663, 1114.28234686, 1139.3468092 ,  945.63287527,
       1225.16439434,  949.14455921, 1064.86785759, 1082.40340438,
        987.39577844,  909.17659659, 1081.3803651 , 1027.69318237,
       1269.74070051, 1086.61103189, 1029.85340971, 1231.46391172,
       1021.40449974, 1053.66032643,  974.81158036, 1017.7605995 ,
       1196.52061613,  865.81161681, 1114.50267339,  957.36116968,
        957.15942484,  973.76722644, 1107.68131525, 1079.84426419,
        884.08193871, 1247.70417067, 1073.91665425, 1073.74422781,
        962.62527104, 1121.28039818, 1032.95882572, 1128.04896906,
       1432.40922471, 1378.36158536,  905.322809  , 1084.77557907,
       1083.57689062, 1217.70699841, 1167.27281503, 1158.12825932,
       1060.52081362,  983.71958196, 1073.49694478,  899.33880172,
       1202.38995662,  931.33230485, 1426.17979494, 1232.30178868,
        942.4079135 ,  957.66631851, 1096.84020113, 1085.41234344,
        961.33384638,  910.80450766,  863.3126554 , 1007.91674281,
       1073.7376599 , 1088.36690063,  928.89120923, 1248.00224178,
       1122.07704101, 1064.28959126, 1138.43755958, 1089.32396421,
       1023.4505783 , 1170.36004917, 1752.63498396, 1598.52203318,
       1214.09204922, 1077.07758225, 1054.05148851, 1766.74690813,
       1085.41814035,  942.31764533, 1483.07651089, 1115.41428863,
       1019.02281191,  871.08798877,  897.11449981, 1063.41211177,
       1125.52432386, 1087.88469938, 1156.85997657, 1086.88595258,
       1281.08440075, 1125.10175078, 1060.52687545, 1194.79391512,
       1470.02543397, 1104.25112473,  958.65926839, 1078.84987846,
        987.78694052,  912.43231259, 1140.40343373, 1177.31587499,
        971.7748649 , 1172.32592332,  822.68581017, 1071.42077683,
       1051.67339447,  873.79562205, 1137.70621949,  955.55349326,
        882.94008386,  963.05386141, 1181.14211476,  946.38279704,
       1711.25744595, 1206.35790119, 1011.29332246, 1075.18195065,
        948.93239149, 1024.38334941, 1102.38558251, 1269.28755647,
        955.91687893, 1047.53112233, 1009.54167604,  851.49979551,
       1271.3647566 , 1121.85830538,  994.65388947,  966.05854555,
       1945.0272977 , 1228.44413791,  892.44833128, 1040.87233544,
        961.33296924, 1014.99391756, 1011.08086094,  928.50625593,
        857.23691149,  993.26475159, 1100.90837958, 1207.14705817,
       1145.56874514, 1121.49102391,  936.2955123 , 1843.67235234,
        955.82892375,  706.25379974, 1124.08492028, 1091.39715432,
        820.13041881, 1275.09815402, 1064.83120029,  797.46781689,
       1048.54446518, 1963.44971469, 1221.52489969, 1079.39446533,
       1077.26083152, 1050.10977834, 1267.4878512 , 1155.86213951,
       1019.17182302, 1019.47877875, 1136.29346208, 1030.93975257,
        896.92635964,  947.58057575, 1437.40467961, 1074.30314954,
       1831.33107623, 1023.71675684, 1097.29765271, 1154.4174451 ,
        581.05866635, 1048.81295671,  942.19380385, 1031.4887005 ,
       1498.67824375, 1119.72852656, 1264.21493672, 1026.24889162,
       1613.52022384, 1009.00458684, 1664.67239158, 1093.22561928,
       1108.10745389, 1302.03047157, 1014.74015274])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [176]:
test_1st.head()

   laptop_ID  Inches  OpSys  Weight
0        750    14.0      1    1.25
1        726    14.0      1    1.40
2        633    14.0      1    1.40
3        363    15.6      1    2.65
4        319    11.6      1    1.10

In [171]:
sample = pd.read_csv("data/sample_submission.csv")

In [172]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [173]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [174]:
submission = pd.DataFrame({"laptop_ID": sample["laptop_ID"], "Price_euros": predictions_submit})
# cuando haya eliminado columnas, el laptop ID será del csv que tenga los datos limpios ( que coincida laptop id con los datos que nos hemos quedado)

In [175]:
submission.head()

   laptop_ID  Price_euros
0        750   875.350725
1        726   942.341273
2        633   939.542960
3        363  1275.551808
4        319  1124.878700

In [177]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [178]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission1.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [179]:
chequeator(submission)

You're ready to submit!